.to-do-item{
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #c58e8e;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 10px;
}
.urgent{
    background-color: #bb4f4f !important;
    color: #fff;
}
.icon{
    font-size: 10px;
    color: #fff;
    cursor: pointer;
}
.to-do-item:hover {
    background-color: #d3c2c2;
}
.state{
    font-size: 23px;
    color: #fff;
}
.Done{
    color: green;
    margin: 5px 10px;
}
.NotDone{
    color: #953838;
    margin: 5px 10px;
}
